{
  "swagger": "2.0",
  "info": {
    "title": "RegEx",
    "description": "",
    "version": "1.0"
  },
  "host": "api.contoso.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/regexreplace": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "output": {
                  "type": "string",
                  "description": "output"
                }
              }
            }
          }
        },
        "summary": "Regex Replace",
        "description": "A custom action to run a regex replace command",
        "operationId": "RegexReplace",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "string",
                  "description": "input"
                },
                "pattern": {
                  "type": "string",
                  "description": "pattern"
                },
                "replacement": {
                  "type": "string",
                  "description": "replacement"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}